[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ldap = "3.1.0"
apscheduler = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask = "*"
wsgiserver = "*"
pyinstaller = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"
